/__pycache__
en*
/result*
/.vscode
/examples
*.rpt
*_temp.*
*_temp*.*
/EPANET/*.txt
TS.py
.venv
.~lock.*.*
venv
.savestate
DataAnalysis/out
EpanetDocker/app/__pycache__
Alperovits
DataAnalysis/out*
.directory
.idea